.song-wrapper {
	width: 100%;
	height: 100%;
	position: relative;
}
#song-back {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	/*background: url() no-repeat fixed center/cover;*/
	filter: blur(25px);
	opacity: 0.8;
}
.song-wrap {
	width: 100%;
	height: 100%;
	position: relative;
	.song-cover {
		position: relative;
		padding-top: 10px;
		height: 300px;
		.song-head {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			.song-return {
				float: left;
				margin-top: 10px;
				margin-left: 10px;
				width: 36px;
				height: 36px;
				cursor: pointer;
			}
			.song-collect {
				float: right;
				margin-top: 10px;
				margin-right: 10px;
				width: 36px;
				height: 36px;
				cursor: pointer;
			}
		}
	}
	.song-lyric {
		position: relative;
		background: transparent;
		width: 100%;
		height: calc(80% - 310px);
		margin: 0;
		.lyric-content {
			position: absolute;
			width: 95%;
			height: 200px;
			margin: auto;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			overflow: hidden;
			#lyric-wrapper {
				position: absolute;
				top: 0;
				left: 0;
				right: 0;
				.lyric-line {
					line-height: 40px;
					height: 40px;
					color: #ccc;
					overflow: hidden;
					text-overflow:ellipsis;
					white-space: nowrap;
					span {
						display: inline-block;
					}
					.lyric-time {
						width: 90px;
						font-size: 16px;
						text-align: center;
					}
					.lyric-word {
						width: calc(100% - 90px);
						font-size: 16px;
						text-align: center;
					}
				}
				.lyric-high {
					color: #fff !important;
					filter: contrast(3);
				}
			}
		}
	}
	.song-control {
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		height: 140px;
		/*进度条*/
		.control-progress {
			/*padding: 10px;*/
			position: relative;
			height: 40px;
			margin: 20px 8px 0 22px;
			overflow: hidden;
			.progressBar{ 
				position: absolute;
				width: 75%; 
				height: 5px;
				left: 0; 
				top: 10px;
				div {
					position: absolute;
				}
				.progressBac {
					width: 100%;
					height: 3px;
					left: 0;
					top: 0;
					background: #dedede;
				}
				.speed {
					width: 100%;
					height: 3px;
					left: -100%;
					background: #ea6f5a;
				}
				.drag {
					width: 10px;
					height: 10px;
					left: 0;
					top: -3px;
					background: #ea6f5a;
					border: 3px solid #ededed;
					border-radius: 50%;
					/*box-shadow: #fff 0 0 5px;  */
				}
			}
			#progressTime {
				position: absolute;
				width: 25%;
				height: 20px;
				right: 0;
				top: 5px;
				.timeDetail {
					color: #dedede;
					font-size: 13px;
					text-align: center;
				}
			}
		}
		.control-button {
			margin: 15px 10px auto 15px;
			div {
				position: relative;
				display: inline-block;
				width: 19%;
			}
			img {
				position: absolute;
				display: block;
				width: 48px;
				height: 48px;
				margin: auto;
				top: 0;
				bottom: 0;
				left: 0;
				right: 0;
				cursor: pointer;
			}
			.button-list img {
				width: 40px;
				height: 38px;
			}
			.button-mode img {
				width: 46px;
				height: 46px;
			}
		}
	}
	.song-list {
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		height: 55%;
		transition: 0.2s;
		background: #fefefe;
		opacity: 0.95;
		.list-head {
			width: 100%;
			height: 40px;
			line-height: 40px;
			text-indent: 20px;
			box-sizing: border-box;
			border-bottom: 1px solid #999;
			span {
				font-size: 16px;
				font-weight: bold;
				color: #666;
				cursor: default;
			}
			.mode-close {
				float: right;
				width: 30px;
				height: 30px;
				margin-right: 10px;
				margin-top: 5px;
				cursor: pointer;
			}
		}
		.list-body {
			width: 100%;
			height: calc(100% - 40px);
			overflow: auto;
			ul {
				li {
					position: relative;
					display: block;
					box-sizing: border-box;
					border-bottom: 1px solid #bbb;
					height: 45px;
					overflow: hidden;
					p {
						line-height: 45px;
						font-size: 16px;
						color: #666;
						text-indent: 10px;
						span {
							font-size: 14px;
							color: #999;
						}
					}
					img {
						position: absolute;
						width: 20px;
						height: 20px;
						top: 13px;
						right: 10px;
						cursor: pointer;
					}
				}
			}
		}
	}
}
.isplaying {
	color: #ea6f5a !important;
}
@media (max-height: 640px) {
	.song-lyric {
		display: none;
	}
}